<app-header></app-header>
<div class="p-5">
  <div class="mx-auto">
    <h1 class="text-3xl font-bold text-center p-5 text-white">
      "Actualizar Equipo de Fútbol"
    </h1>
    <hr />
  </div>
  <form class="pt-5" #f="ngForm">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label
          for="nombre"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Nombre</label
        >
        <input
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Nombre del equipo"
          required
          [(ngModel)]="equipo.nombre"
          [ngModelOptions]="{ standalone: true }"
          #ctrl="ngModel"
        />
      </div>
      <div>
        <label
          for="estadio"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Estadio</label
        >
        <input
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Estadio"
          required
          [(ngModel)]="equipo.estadio"
          [ngModelOptions]="{ standalone: true }"
          #ctrl="ngModel"
        />
      </div>
      <div>
        <label
          for="sitioweb"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Sitio Web</label
        >
        <input
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Url del sitio web"
          required
          [(ngModel)]="equipo.sitioweb"
          [ngModelOptions]="{ standalone: true }"
          #ctrl="ngModel"
        />
      </div>
      <div>
        <label
          for="nacionalidad"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Nacionalida</label
        >
        <input
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Nacionalidad"
          pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
          required
          [(ngModel)]="equipo.nacionalidad"
          [ngModelOptions]="{ standalone: true }"
          #ctrl="ngModel"
        />
      </div>
      <div>
        <label
          for="fundacion"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Año de Fundación</label
        >
        <input
          type="date"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Año de Fundación"
          required
          [(ngModel)]="equipo.fundacion"
          [ngModelOptions]="{ standalone: true }"
          #ctrl="ngModel"
        />
      </div>
      <div>
        <label
          for="entrenador"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Entrenador
        </label>
        <input
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Entrenador"
          required
          [(ngModel)]="equipo.entrenador"
          [ngModelOptions]="{ standalone: true }"
          #ctrl="ngModel"
        />
      </div>
      <div class="mb-6">
        <label
          for="capacidad"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Capacidad</label
        >
        <input
          type="number"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Capacidad"
          required
          [(ngModel)]="equipo.capacidad"
          [ngModelOptions]="{ standalone: true }"
          #ctrl="ngModel"
        />
      </div>
      <div class="mb-6">
        <label
          for="valor"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Valor</label
        >
        <input
          type="number"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Valor"
          required
          #ctrl="ngModel"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="equipo.valor"
        />
      </div>
    </div>
    <button
      [routerLink]="['/eqyuipos']"
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto mr-2 px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Atrás
    </button>

    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Guardar
    </button>
  </form>
</div>
